div.inline
{
  display: inline-block;
}

div.left
{
	min-width: 30px;
	text-align: right;
}

div.right
{
  float: right;
}

.red
{
	color: red;
}

.yellow
{
	color: yellow;
}

div.desc
{
	padding-left: 8px;
	opacity: 0.5;
}